#calendar {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: auto;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 0.5em;
}

.day {
    padding: 1em;
    text-align: center;
    border: 1px solid #ccc;
}

.day:hover {
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;    
    text-align: center; /* Горизонтальное выравнивание по центру */
    vertical-align: middle; /* Вертикальное выравнивание по центру */
}

/* Подсветка заголовков */
th {
    background-color: #f2f2f2;
}

.split-line {
    border-top: 1px solid #ddd;
    width: 80%; /* Ширина линии */
    margin-top: 5px; /* Расстояние между линией и содержимым */
}
.red-background {
    background-color: red;
}

.green-background {
    background-color: green;
}
h1 {
    text-align: center; /* Горизонтальное выравнивание по центру */
}
