<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Date Range Table</title>
</head>
<body>
    <h1>Booking</h1>
    <form method="post" action="/booking">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <label for="start_date">Start Date:</label>
        {{ form.start_date }}
        <label for="end_date">End Date:</label>
        {{ form.end_date }}
        <button type="submit">Generate Table</button>
    </form>
    
    {% if data_table is not none%}
        <table>
            <thead>
                <tr>
                    <th>{{ 'Описание номера' }}</th>
                    {% for index, row in data_table.iterrows() %}
                        <th>{{ row['Date'].strftime('%Y-%m-%d') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    {% for i in range(1, 7) %}
                    <tr>
                        <td>{{ descriptions[i] }}</td>
                        {% for index, row in data_table.iterrows() %}
                        {% set parts = row['Data'][i].split() %}
                        <td class={{ 'green-background' if parts[1] != '0' else 'red-background'}}>
                            <div>Всего: {{ parts[0] }}</div>
                            <div class="split-line"></div>
                            <div>Свободно: {{ parts[1] }}</div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
